{{#if hasChangeRights}}
<div class="row">
    <div class="col-md-2">
        <section class="rightActions">
            <a class='logoutBtn' id='logoutBtn' href='#logout'><span class='glyphicon glyphicon-log-out'></span></a>
            <a class='addBtn' id='addBtn' href='#movieAddForm'><span class='glyphicon glyphicon-plus-sign'></span></a>
            <a class='deleteBtn' id='deleteBtn' href='#delete'><span class='glyphicon glyphicon-trash'></span></a>
        </section>
    </div>
</div>
{{/if}}