<div class='container-fluid main-panel'>
    <div class='row' id='row-nav1'>
        <div class='col-md-2'>
            <nav>
                <a href='#a' id='firstLetterA' class='firstLetter'>A</a> |
                <a href='#b' id='firstLetterB' class='firstLetter'>B</a> |
                <a href='#c' id='firstLetterC' class='firstLetter'>C</a> |
                <a href='#d' id='firstLetterD' class='firstLetter'>D</a> |
                <a href='#e' id='firstLetterE' class='firstLetter'>E</a> |
                <a href='#f' id='firstLetterF' class='firstLetter'>F</a> |
                <a href='#g' id='firstLetterG' class='firstLetter'>G</a> |
                <a href='#h' id='firstLetterH' class='firstLetter'>H</a> |
                <a href='#i' id='firstLetterI' class='firstLetter'>I</a> |
                <a href='#j' id='firstLetterJ' class='firstLetter'>J</a> |
                <a href='#k' id='firstLetterL' class='firstLetter'>K</a> |
                <a href='#other' id='firstLetterOther'>..</a>
            </nav>
        </div>
    </div>
</div>