.form-horizontal legend {
    text-align: center;
}

.jBox-container {
    min-height: 600px;
}


body {
     overflow-y: scroll;
}

.form-horizontal .control-label {
    text-align: left;
}

.jBox-Modal .jBox-title {
    text-align: center;
}

.movieImg {
    max-width: 60px;
    height: auto;
    border-radius: 2px;
    box-shadow: -0.8px -0.8px #ccc;
}

.form-group .movieImg {
    margin-left: 15px;
}

.jbox-Modal header {
    width: 350px;
}

.jBox-ModalBorder {
    background: rgba(161,178,189, 0.75) none repeat scroll 0% 0%
}

.jBox-title {
    border: 1px solid rgb(68, 125, 152);
    border-radius: 4px;
    box-shadow: 1px -1px 2px rgb(114, 180, 212);
    margin: 0px 2px 8px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}